.FiltersContainer{
    padding: 10px 0px 10px 0px;
}
.FiltersContainer form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
.searchInput:focus{
    border: 2px solid var(--acc-color);
}
.searchInput{
    padding: 15px;
    /* padding-bottom: 15px; */
    border: 2px solid var(--border-color);
}

.searchInput,
.FilterDropdown{
    flex-grow: 5;
}

  .SearchBtn{
    width: 200px;
    flex-grow: 1;
  }
  .FilterResetBtn{
    flex-grow: 1;
  }

  .FilterDropdown:focus{
    border: 2px solid var(--acc-color);
  }
  .FilterDropdown{
    position: relative;
    width: 200px;
    padding: 15px;
    border: unset;
    outline: unset;
    color: #eee;
    border-radius: 5px;
    background-color: unset;
    border: 2px solid var(--border-color);
    appearance: none;
    cursor: pointer;
    transition: 0.2s;
  }
  .FilterDropdown option{
    padding: 10px;
    background-color:  var(--border-color);
  }
  .FilterAscDescBtn{
    font-size: 2em;
    color: var(--acc-color) !important;
    cursor: pointer;
  }
