.NavContainer{
    display: flex;
    gap: 10px;
    justify-content: center;
    border: 1px solid var(--border-color);
    background-color: var(--box-color);
    padding: 15px;
    margin: 15px auto 0 auto;
    /* margin: 15px auto -45px auto; */
}
.NavContainer,
.addFilmInner{
    max-width: 500px;
    border-radius: 5px;
}
.addFilmInner{
    margin: 15px auto;
    background-color: var(--box-color);
    padding: 20px;
    border: 1px solid var(--border-color);
}
.FilmsListInner{
    margin-top: 15px;
    overflow: scroll;
}
.addFilmContainer{
    margin-top: 25px;
    margin-bottom: 50px;
}
.addFilmContent{
    display: grid;
    justify-content: center;
}
.addFilm__title{
    font-size: 1.2em;
}
.addFilm__step{
    font-size: 1em;
    margin-top: 15px;
}
.addFilm__title,
.addFilm__step{
    text-align: center;
}
.addFilmForm{
    margin-top: 15px;
    margin-bottom: 15px;
}
.addFilmForm input,
.addFilmForm textarea{
    width: 350px;
}
.editFilmForm input,
.editFilmForm textarea{
    width: 100%;
}
.addFilmForm input,
.addFilmForm textarea,
.editFilmForm input,
.editFilmForm textarea{
    display: block;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid var(--border-color);
}
.addFilmForm label,
.editFilmForm label{
    display: block;
    margin-top: 15px;
    font-weight: 600;
}
.addFilmForm .addFilmBtn,
.editFilmForm .editFilmSaveBtn{
    margin-top: 20px;
}
.editFilmForm .editFilmSaveBtn{
    width: 200px;
}
.addFilmForm .labelWithIcon,
.editFilmForm .labelWithIcon{
    display: flex;
    gap: 5px;
}


.editFilmForm{
    margin: 25px auto;
    width: 90%;
}
.editFilmTitle{
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
}
.editFilmBackBtn{
    margin-top: 10px;
    margin: 15px auto;
    display: block;
    padding: 1px;
    height: 30px;
}
.errorMessBox{
    width: 100%;
}
/*AdmFilmsList*/
.tableImg{
    width: 50px;
}
.tableActionIcon{
    font-size: 1.1em;
    margin: 5px;
}
.tableActionIcon:hover{
    cursor: pointer;
    color: var(--acc-color);
}

@media screen and (max-width: 767px){
    .addFilmForm input,
    .addFilmForm textarea{
        width: 270px;
    }
    .tableImg{
        width: 32px;
    }
    .hideOnMobile{
        display: none;
    }
}