
.MainInner{
    margin-top: 0px;
}
.Banner{
    width: 100%;
    height: 300px;
    background-image: url(../../assets/images/kinoflix_banner5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.FilmListContainer{
    margin-top: 10px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 20px; */
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-auto-rows: 200px; */
    grid-gap: 10px;
}
.MainFilmContainer{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 250px;
    border: 1px solid var(--border-color);
    background-color: var(--body-bg);
}
.MainFilmContainer__img{
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 328px;
}
.MainFilmContainer__infoContainer{
    position: relative;
    border-top: 1px solid var(--border-color);
    padding: 15px 30px 15px 15px;
}
.MainFilmContainer__infoContainer__title{
    font-size: 1.2em;
    padding-right: 15px;
    color: var(--text-color__title);
}
.MainFilmContainer__infoContainer__details{
    margin-top: 10px;
    color: var(--text-color__second);
    font-size: 0.75em;
}

.MainFilmContainer__infoContainer__heart{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2em;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.filledHeart{
    color: #eb3434;
}
.notFilledHeart{
    color: var(--border-color);
}
.notFilledHeart:hover{
    color: #eb3434;
}
.MainFilmContainer__overlay{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    bottom:0;
    width: 100%;
    height: 328px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(23, 26, 32, 0.95);
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    opacity: 0;
}
.MainFilmContainer__overlay__playIcon{
    font-size: 2.5em;
    color: var(--text-color__second);
}
/* .MainFilmContainer__img:hover + .MainFilmContainer__overlay{
    display: flex;
    opacity: 1;
    cursor: pointer;
} */
.MainFilmContainer__overlay:hover{
    opacity: 1;
    /* display: flex; */
}

/* tablet */
@media screen and (max-width: 1439px){

}

/* mobile */
@media screen and (max-width: 767px){
    .MainInner{
        margin-top: 50px;
    }
    .Banner{
        display: none;
    }
    .FilmListContainer{
        justify-items: center;
        gap: 30px;
    }
}